<a href="https://colab.research.google.com/github/UlisesGonzalezP/GoogleColab/blob/master/%C3%81rbol_de_decisi%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd#Libreria para exploración y manipulación de datos
from sklearn.tree import DecisionTreeRegressor#Libreria para la creación del arbol de decisión
from sklearn.metrics import mean_absolute_error#Libreria que permite calcular el error medio absoluto
from sklearn.model_selection import train_test_split#Libreria para entrenar el modelo y validarlo

url='https://raw.githubusercontent.com/UlisesGonzalezP/GoogleColab/master/melb_data.csv'#Importa los datos  utilizar desde github
melbourne_data =pd.read_csv(url)
melbourne_data.columns#Muestra todas las columnas del conjunto de datos

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [12]:
melbourne_data=melbourne_data.dropna(axis=0)#Elimina los valores faltantes (na=no disponible)
y=melbourne_data.Price#Selecciona la columna a predecir, en este caso Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']#Ingresamos las caracteristicas en la lista al modelo de predicción
X = melbourne_data[melbourne_features]#Se almacenan los datos del modelo en X
X.describe()#Se describe el módelo

           Rooms   Bathroom     Landsize  Lattitude  Longtitude
count  60.000000  60.000000    60.000000  60.000000   60.000000
mean    2.716667   1.566667   251.133333 -37.777957  144.939105
std     0.783120   0.620734   244.073028   0.048900    0.054444
min     1.000000   1.000000     0.000000 -37.848100  144.867900
25%     2.000000   1.000000   123.000000 -37.808125  144.878975
50%     3.000000   1.500000   165.500000 -37.801550  144.952150
75%     3.000000   2.000000   266.750000 -37.723775  144.995400
max     6.000000   3.000000  1063.000000 -37.716400  145.000400

In [13]:
X.head()#Muestra los datos reales sin repetirlos

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954

In [15]:
melbourne_model = DecisionTreeRegressor(random_state=1)#Especifica un número para random_state para garantizar los mismos resultados en cada ejecución.
melbourne_model.fit(X, y)#Modelo de ajuste
print("Making predictions for the following 5 houses:")#Imrime en pantalla el texto
print(X.head())#Imprime los datos de X sin repetir
print("The predictions are")#Imprime en pantalla el texto
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [16]:
#Calcula el error medio absoluto y lo muestra
predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

666.6666666666666

In [19]:
# divide los datos en datos de capacitación y validación, tanto para las funciones como para el objetivo
# La división se basa en un generador de números aleatorios. Suministrar un valor numérico a
# el argumento random_state garantiza que obtengamos la misma división cada vez que
# ejecuta este script.
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0) 
melbourne_model=DecisionTreeRegressor()#Define el modelo
melbourne_model.fit(train_X,train_y)#Modelo de ajuste
val_predictions=melbourne_model.predict(val_X)#Obtiene precios predichos en los datos de validación
print(mean_absolute_error(val_y,val_predictions))#Imprime el error medio absoluto entrenado y mejorado en comparación con la sección anterior

298800.0